@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}
.login {
    text-align: center;
}

.login p {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin: 30px 0px 10px;
}

#loginform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loginform .inputdiv {
    display: block;
    border: 1px solid #afafaf;
    width: 400px;
    height: 40px;
    border-radius: 6px;
}
#loginform .inputdiv img {
    float: left;
    width: 20px;
    height: 24px;
    margin-left: 10px;
    margin-top: 8px;
}
#loginform .inputdiv input {
    display: inline-block;
    float: left;
    width: 340px;
    font-family: 'Noto Sans KR'sans-serif;
    font-weight: 800;
    height: 36px;
    margin-left: 10px;
    margin-bottom: 4px;
    outline-style: none;
    outline: none;
    line-height: normal;
    border: 0px solid #333;
}

#loginform :nth-child(1) {
    margin-bottom: 9px;
}

.loginbuttons {
    display: flex;
    width: 400px;
    margin-top: 15px;
    justify-content: space-between;
}

.loginbuttons button {
    display: inline-block;
    width: 150px;
    height: 37px;
    border-radius: 10px;
    font-size: 17px;
    border: 2px solid #5D00FF;
}

.loginbuttons #loginBtn {
    background-color: #5D00FF;
    color: #FFF;
}


.loginbuttons #registerBtn {
    background-color: #FFF;
    color: #5D00FF;
}

#loginform #findPw {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 300;
    color: #757575;
}

#findPw:hover {
    text-decoration: underline #757575;
}